<%- include('partials/header') %>

<div>
	{{message|safe}}
	<br><br>
	Here is your result:<br>
	Difficulty : {{difficulty}}<br>
	Remaining time : {{remainingTime}}<br>
	Life Left : {{lifeLeft}}<br>
	Points Scored : {{points}}
</div>

<%- include('partials/footer') %>